body::before {
  display: block;
  content: "";
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

img {
  border-radius: 200px;
}
.img-container {
  display: flex;
  background-image: url(/IMAGES/bitcoin.jpg);
}
